/*=================> STANDART <======================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style-type: none;
}
* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/*=================> /STANDART <======================*/

/*=================> BODY <======================*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*=================> /BODY <======================*/

/*=================> HEADER <======================*/

/*=================> ALL STYLES <======================*/
.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  padding: 15px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-logo {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link-item {
  width: calc((100% - 40 * 2) / 3);
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color-active {
  color: #404bbf;
}
.active-studio {
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
.overlay-nav {
  position: absolute;
  bottom: 0;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-item:hover .overlay-nav {
  transform: translateY(0%);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
}
.mobile-contacts {
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
.social-icons {
  fill: #f4f4fd;
}
/*=================> /ALL STYLES <======================*/

/*=================> MOBILE MENU <======================*/

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .address-menu {
    display: none;
  }
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    margin-left: auto;
  }
  .mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-wrapper.is-open {
    transform: translateX(0%);
  }
  .mobil-container {
    padding: 72px 16px;
    position: relative;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 16px;
    padding: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e7e9fc;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    stroke: #2e2f42;
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    fill: #ffffff;
    background-color: #404bbf;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }
  .color-active {
    color: #404bbf;
  }
  .address-mobile {
    margin-top: 128px;
    margin-bottom: 24px;
  }
  .address-mobile-item {
    margin-bottom: 24px;
  }
  .mobile-address-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
  }
  .mobile-address-link:hover,
  .mobile-address-link:focus {
    color: #404bbf;
  }
  .color-tel-menu {
    color: #4d5ae5;
  }
  .mobile-menu-icons {
    display: flex;
    gap: 40px;
    margin-top: 48px;
  }
  .mobile-link-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-link-icons:hover,
  .mobile-link-icons:focus {
    background-color: #404bbf;
  }
}
/*=================> MOBILE MENU <======================*/
/*=================> /MOBILE STYLES <======================*/

/*=================> /HEADER <======================*/

/*=================> MOBILE STYLES FIRST <======================*/
.first-section {
  background: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Background/bg-mobile.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  max-width: 320px;
  background-repeat: no-repeat;
}
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Background/bg-mobile@2x.jpg);
  }
}
.main-heading {
  max-width: 169px;
  margin: auto;
  margin-bottom: 72px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
}
.button-formalise {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-formalise:hover,
.button-formalise:focus {
  background: #404bbf;
}
/*=================> /MOBILE STYLES FIRST <======================*/

/*=================> MOBILE STYLES SECOND <======================*/
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.company-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
}
.company-menu {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.company-text-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.company-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}
.icon-box {
  display: none;
}
/*=================> /MOBILE STYLES SECOND <======================*/

/*=================> MOBILE STYLES THIRD <======================*/
.third-section {
  background: #f4f4fd;
}
.team-header {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-menu {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.team-list {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-div {
  padding: 32px 0;
}
.team-text-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-list-icons {
  width: 40px;
  height: 40px;
}
.team-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link-icons:hover,
.team-link-icons:focus {
  background-color: #404bbf;
}
/*=================> /MOBILE STYLES THIRD <======================*/

/*=================> MOBILE STYLES FOURTH <======================*/
.portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-menu {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.portfolio-text-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
.overlay-port {
  display: none;
}
.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #f4f4fd;
  border-top: none;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
/*=================> /MOBILE STYLES FOURTH <======================*/

/*=================> MOBILE STYLES FOOTER <======================*/
.footer {
  background: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.logo-footer {
  display:block;
  justify-content: center;
  text-align: center;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text-footer {
  display: inline-flex;
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  max-width: 288px;
  margin-bottom: 72px;
}
.footer-social {
  margin-bottom: 72px;
}
.footer-title {
  display: block;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  flex-direction: column;
}
.logo-div {
  margin-right: 0;
}
.footer-icon-menu {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-icon-list {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.subscribe-text {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-input {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding-left: 16px;
  color: #ffffff;
}
.form-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: 0.48px;
}
.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.form-icon {
  margin-left: 16px;
  fill: #fff;
}
/*=================> /MOBILE STYLES FOOTER <======================*/

/*=================> MOBILE STYLES BACKDROP <======================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/*=================> /MOBILE STYLES BACKDROP <======================*/

/*=================> MOBILE STYLES MODAL <======================*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.leave-conctacts {
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.leave-from-field {
  margin-bottom: 8px;
}
.leave-from-comment {
  margin-bottom: 16px;
}
.leave-contacts-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.leave-contacts-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
  background: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.leave-contacts-input:focus {
  border-color: #4d5ae5;
}
.field-input-icon {
  position: relative;
}
.icon-input-field {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-contacts-input:focus + .icon-input-field {
  fill: #4d5ae5;
}
.leave-contacts-comments {
  height: 120px;
  width: 100%;
  display: block;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-contacts-comments::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.leave-contacts-comments:focus {
  border-color: #4d5ae5;
}
.leave-from-checkbox {
  margin-bottom: 24px;
}
.leave-label-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.link-privacy {
  text-decoration: underline;
  color: #4d5ae5;
  line-height: 1.33;
}
.leave-from-own-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}
.from-own-checkbox-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-input-checkbox:checked
  + .leave-label-checkbox
  > .leave-from-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.leave-input-checkbox:checked + .leave-label-checkbox .leave-from-own-checkbox {
  opacity: 1;
}
.from-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  padding: 16px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}
/*=================> /MOBILE STYLES MODAL <======================*/

/*=================> /BACKDROP STYLES <======================*/

/*=================> TABLET HEADER STYLES <======================*/
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
  .page-header {
    padding: 0px;
  }
  .container {
    max-width: 768px;
  }
  .mobile-menu-wrapper {
    display: none;
  }
  .mobile-menu-open-btn {
    display: none;
  }
  .address-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /*=================> TABLET /HEADER STYLES <======================*/

  /*=================> TABLET FIRST STYLES <======================*/
  .first-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Background/bg-tablet.jpg);
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .first-section {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Background/bg-tablet@2x.jpg);
    }
  }
  .main-heading {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
  /*=================> /TABLET FIRST STYLES <======================*/

  /*=================> TABLET SECOND STYLES <======================*/
  .company-menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    width: 738px;
  }
  .company-list {
    flex-basis: calc((100% - 24px) / 2);
  }
  .company-text-title {
    text-align: left;
    margin-bottom: 8px;
  }
  /*=================> /TABLET SECOND STYLES <======================*/

  /*=================> TABLET THIRD STYLES <======================*/
  .team-menu {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    width: 554px;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
  }
  .third-cont {
    width: 584px;
  }
  /*=================> /TABLET THIRD STYLES <======================*/

  /*=================> TABLET FOURTH STYLES <======================*/
  .portfolio-menu {
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    padding-left: 0;
  }
  .portfolio-list {
    width: calc((100% - 24px) / 2);
  }
  /*=================> /TABLET FOURTH STYLES <======================*/

  /*=================> TABLET FOOTER STYLES <======================*/
  .footer {
  padding-top: 96px;
  padding-bottom: 96px;
  }
  .footer-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 584px;
  }
  .logo-footer {
    text-align: left;
  }
  .footer-title {
    margin-bottom: 16px;
    text-align: left;
  }
  .footer-text {
    margin-bottom:0;
  }
  .footer-social {
    margin-bottom:0;
  }
  .subscribe-text {
    display: block;
  }
  .form {
    flex-direction: row;
  }
  .form-input {
    width: 264px;
  }
  /*=================> /TABLET FOOTER STYLES <======================*/
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
}
}


/*=================> DESKTOP STYLES <======================*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  .address-menu {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .address-link-item {
    width: calc((100% - 40) / 2);
  }
  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
