/* standart */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style-type: none;
}
* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/* body */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.page-header-container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  display: block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.text-logo {
  color: #2e2f42;
}
.menu {
  display: flex;
  gap: 40px;
}
.menu-link-item {
  width: calc((100% - 40 * 2) / 3);
  position: relative;
  overflow: hidden;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.color-active {
  color: #404bbf;
}
.active-studio {
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
}
.overlay-nav {
  position: absolute;
  bottom: 0;
  background-color: #404bbf;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-item:hover .overlay-nav {
  transform: translateY(0%);
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  font-style: normal;
}
.address-menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-link-item {
  width: calc((100% - 40) / 2);
}
.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* Main */
/* S1ction */
.first-section {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;
  background-repeat: no-repeat;
}
.main-heading {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  /* 107.143% */
  letter-spacing: 0.02em;
}
.button-formalise {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-formalise:hover,
.button-formalise:focus {
  background: #404bbf;
}
/* S2ction */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.second-section {
  line-height: 1.2;
}
.company-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.company-menu {
  display: flex;
  gap: 24px;
}
.company-list {
  width: calc((100% - 72px) / 4);
}

.icon-box {
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.company-text-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.company-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
/* S3ction */
.third-section {
  background: #f4f4fd;
  line-height: 1.11;
}
.team-header {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-menu {
  display: flex;
  gap: 24px;
}
.team-list {
  width: calc((100% - 74) / 4);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-div {
  padding: 32px 0 32px;
}
.team-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.team-text-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.team-menu-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-list-icons {
  width: 40px;
  height: 40px;
  margin: 0;
}
.team-link-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons {
  fill: #f4f4fd;
}
.team-link-icons:hover,
.team-link-icons:focus {
  background-color: #404bbf;
}
/* S4ction */
.portfolio-header {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-menu {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
}
.portfolio-list {
  width: calc((100% - 48px) / 3);
  border-top: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.hidden-port {
  position: relative;
  overflow: hidden;
}
.overlay-port {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  overflow: auto;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .overlay-port {
  transform: translateY(0%);
}
/* Footer */

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text-footer {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo-div {
  margin-right: 120px;
}
.footer-icon-menu {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
}
.footer-social {
  gap: 16px;
}
.footer-icon-list {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.subscribe-text {
    margin-bottom: 16px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .form-container {
    padding-left: 80px;
  }
  
  .form {
    display: flex;
    gap: 24px;
  }
  
  .form-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    color: #ffffff;
  }
  
  .form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
  }
  
  .form-icon {
    margin-left: 16px;
    fill:#fff;
  }
/* Backdrop styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* Modal style */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  line-height: 0;
  display: flex;
    align-items: center;
    justify-content: center;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  border: none;
  fill: #ffffff;
  background-color: #404bbf;
}
.leave-conctacts {
  color: #2e2f42;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  width: 360px;
  margin-bottom: 16px;
}
.leave-from-field {
    margin-bottom: 8px; 
}
.leave-from-comment {
    margin-bottom: 16px; 
}
.leave-contacts-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.leave-contacts-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid;
  background: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px solid transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
}
.leave-contacts-input:focus {
  border-color: #4d5ae5;
}
.field-input-icon {
  position: relative;
}
.icon-input-field {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-contacts-input:focus + .icon-input-field {
  fill: #4d5ae5;
}
.leave-contacts-comments {
  height: 120px;
  width: 100%;
  display: block; 
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  resize: none;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-contacts-comments::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.leave-contacts-comments:focus {
  border-color: #4d5ae5;
}
.leave-from-checkbox {
    margin-bottom: 24px;
}
.leave-label-checkbox {
    font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.link-privacy {
  text-decoration: underline;
    color: #4d5ae5;
}
.leave-from-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.from-own-checkbox-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.leave-input-checkbox:checked + .leave-label-checkbox > .leave-from-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.leave-input-checkbox:checked + .leave-label-checkbox .leave-from-own-checkbox {
opacity: 1;
}
.from-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}