/*=================> STANDART <======================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  list-style-type: none;
}
* {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/*=================> /STANDART <======================*/

/*=================> BODY <======================*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  line-height: 1.5;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*=================> /BODY <======================*/

/*=================> HEADER <======================*/

/*=================> MOBILE STYLES <======================*/
.container {
  max-width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
  padding: 16px;
}
.page-header-container {
  display: flex;
  align-items: center;
}
.menu {
  display: none;
}
.address-menu {
  display: none;
}
.logo {
  font-family: Raleway, sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text-logo {
  color: #2e2f42;
}
.mobile-menu-open-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin-left: auto;
}
/*=================> MOBILE MENU <======================*/
.mobile-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mobil-container {
   position: relative; 
}
.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E7E9FC;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    stroke: #2E2F42;
}
/*=================> /MOBILE MENU <======================*/

/*=================> /MOBILE STYLES <======================*/

/*=================> TABLET STYLES <======================*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}

/*=================> DESKTOP STYLES <======================*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
.menu {
  display: none;
}
